<div class="container">
  <div class="circle">
    <img src="/assets/joshila.jpeg" alt="Circular Image">
  </div>
  <div class="matter">
    <div class="text">
      <pre>
        Hi! Its me 
        Joshila Gubbala
      </pre>
    </div>
    <div class="box">
        <div class="outer button">
          <button (click)="navigateToContact()">Contact Me</button>
          <div class="options" *ngIf="show">
            <a href="https://www.instagram.com/_joshila/">
              <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
            </a>
            <a href="https://www.linkedin.com/in/joshilagubbala/">
              <img src="https://img.icons8.com/color/48/000000/linkedin.png"/>
            </a>
            <a href="https://github.com/Joshila117">
              <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
            </a>
            <a href="/assets/Joshila Gubbala Resume.pdf">
              <img src="https://img.icons8.com/fluent/48/000000/open-resume.png"/>
            </a>
          </div>
          <span></span>
          <span></span>
         </div>
    </div>
  </div>
  
</div>




